<?xml version="1.0" encoding="UTF-8"?>

<!--
  Extracted from /usr/lib/unifi/lib/ace.jar
  PROTIP: unzip usr/lib/unifi/lib/ace.jar
-->

<Configuration packages="com.ubnt.service.trace.logerror">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout charset="UTF-8" pattern="[%d{ISO8601}] &lt;%t&gt; %-5p %-6c{1} - %m%n" />
    </Console>
<!--
    <InMemoryAppender name="InMemoryAppender" activatedLogging="false">
      <PatternLayout pattern="[%d{ISO8601}] &lt;%t&gt; %-5p %-6c{1} - %m%n" />
    </InMemoryAppender>
    <RollingFile name="server_log" fileName="logs/server.log" filePattern="logs/server.log.%i">
      <PatternLayout pattern="[%d{ISO8601}] &lt;%t&gt; %-5p %-6c{1} - %m%n" />
      <SizeBasedTriggeringPolicy size="10 MB"/>
      <DefaultRolloverStrategy max="3" fileIndex="min" />
    </RollingFile>
-->
    <AnalyticsAppender name="AnalyticsAppender">
      <ReportBurstFilter>
        <ReportClock />
      </ReportBurstFilter>
      <ReportSender url="https://trace.svc.ui.com/traces">
        <ReportClock />
      </ReportSender>
      <ReportClock />
    </AnalyticsAppender>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console" />
<!--
      <AppenderRef ref="InMemoryAppender" />
      <AppenderRef ref="server_log" />
-->
      <AppenderRef ref="AnalyticsAppender" level="ERROR" />
    </Root>
    <Logger name="org.apache.log4j.xml" level="info" />
    <Logger name="java" level="ERROR" />
    <Logger name="javax" level="ERROR" />
    <Logger name="javax.jmdns" level="OFF" />
    <Logger name="sun" level="ERROR" />
    <Logger name="org.apache" level="WARN" />
    <Logger name="httpclient.wire" level="WARN" />
    <Logger name="net.schmizz" level="ERROR" />
    <Logger name="com.codahale" level="ERROR" />
    <Logger name="org.apache.tomcat" level="ERROR" />
    <Logger name="org.apache.commons" level="WARN" />
    <Logger name="org.apache.catalina" level="ERROR" />
    <Logger name="com.mongodb" level="ERROR" />
    <Logger name="org.mongodb" level="ERROR" />

    <Logger name="org.springframework" level="WARN" />
    <Logger name="de.javawi.jstun" level="WARN" />

    <Logger name="com.ubnt" level="INFO" />
    <Logger name="com.ubiquiti" level="INFO" />

    <Logger name="com.netflix.servo" level="INFO" />
    <Logger name="com.amazonaws.internal" level="WARN" />
    <Logger name="springfox" level="WARN" />
  </Loggers>
</Configuration>
